@page "/"
@using ToDoList.Services;
@inject IFileUpload FileUpload;

<h1>Blazor Upload File</h1>

<InputFile multiple OnChange="HandleFileSelected"></InputFile>

<table class="table table-bordered" style="margin-top:10%;"></table>
<thead>
    <tr>
        <th>File Name</th>
        <th>File Size</th>
        <th>File Type</th>
    </tr>
</thead>
<tbody>
    @if (files != null && files.Count > 0)
    {
        foreach (var fileitem in files)
        {
            <tr>
                <td>@fileitem.Name </td>
                <td>@fileitem.Size</td>
                <td>@fileitem.Type</td>
            </tr>
        }
    }
</tbody>
@code {
    List<IFileListEntry> files = new List<IFileListEntry>();
    async Task HandleFileSelected(IFileListEntry[] filelistEntries)
    {
        files = new List<IFileListEntry>();
        foreach (var file in filelistEntries)
        {
            if (file != null)
                await FileUpload.Upload(file);

            files.Add(file);
        }
    }
}